{% extends "proyectofinal/layout.html"%}

{% block body%}
<div class="card-group">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for producto in productos|slice:":3" %}
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{producto.imagen.url}}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ producto.titulo }}</h5>
                        <p class=" card-text">{{ producto.contenido }}</p>
                        <h5 class="card-title" style=color:darkcyan;>Precio: ${{ producto.precio }}</h5>
                        <p class="card-text"><small class="text-muted">{{ producto.created }}</small></p>
                        <a href="{% url 'producto_detalle' producto.id %}" class="btn btn-success">Ver producto</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="container-">
    <div class="title text-center">
        <h1>Más productos</h1>
    </div>
    <div class="list-group">
        {% for producto in productos|slice:"3:10" %}
        <a href="{% url 'producto_detalle' producto.id %}" class="list-group-item list-group-item-action"
            aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ producto.titulo }}</h5>
                <small>{{ producto.created }}</small>
            </div>
            <p class="mb-1">{{ producto.contenido }}</p>
            <small>Precio: ${{ producto.precio }}</small>
            {% endfor %}
    </div>
</div>

{% endblock %}