{% extends "proyectofinal/layout.html"%}

{% block body%}
<h1 class="title">Ingrese su cuenta y usuario</h1>
{% for message in messages %}
<div class="alert alert-success" role="alert">
    {{message}}
</div>
{% endfor %}
<form action="" method="post">

    {% csrf_token %}
    <div style="margin:1rem 1rem">
        Usuario: <input type="text" name="username" placeholder="Username...">
    </div>
    <div style="margin:1rem 1rem">
        Contraseña: <input type="password" name="password" placeholder="Password...">
    </div>


    <input type="submit" value="Login">

</form>
<div style="margin: 1rem 1rem;">
    <h6>¿No tienes una cuenta? <a href="{% url 'register' %}">Regístrate</a></h2>
</div>
{% endblock %}