{% extends "proyectofinal/layout.html"%}

{% block body%}
<h1 class="title">Regístrese y comience a comprar</h1>
<form action="" method="POST">

    <table>
        {% csrf_token %}
        {{form.as_table}}
    </table>

    <input type="submit" name="Create User">
</form>
<div style="margin: 1rem 1rem;">
    <h6>¿Ya tienes cuenta? <a href="{% url 'login' %}">Log in</a></h2>
</div>
{% endblock %}